<%- include('header') %>
    <h2>
        Nova vaga:
        <a href="/admin/vagas">Vagas</a>
    </h2>
    <div>
    <form method="post">
        <labeL>Título</label>
        <input type="text" name="titulo">
        <br>
        <labeL>Descrição</label>
        <textarea type="text" name="descricao"></textarea>
        <br>
        <labeL>Categoria</label>
        <select name="categoria">
            <option value="1">Engenharia</option>
            <option value="2">Marketing</option>
        </select>
        <br>
        <button>Salvar vaga</button>
    </form>
    </div>
<%- include('footer') %>